* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2 {
    margin: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btns {
    width: 200px;
    height: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 20px;
}

.red {
  background-color: #d95980;
}

.orange {
  background-color: #f99b45;
}

.green {
  background-color: #63acc0;
}

.blue {
  background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}